body {
  background: url(images/BARK.jpg) repeat center center fixed;
}

.container {
  background-color: white;
  width: 982px;
  padding: 0 15px;
  margin: 0 auto;
}

#logo {
  padding-top: 10px;
}

nav {
  background-color: grey;
  display: inline-block;
  margin-left: 14px;
  padding-top: 20px;
  width: 704px;
}

nav form {
  text-align: right;
  margin-right: 35px;
}

nav ul {
  text-decoration: none;
  text-align: right;
}

nav li {
  display: inline;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  margin-right: 15px;
}

nav a {
  border-left: 1px solid white;
  color: white;
  letter-spacing: 1px;
  margin-right: 20px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  border-left: 1px solid #BD241E;
  color: #BD241E;
  text-decoration: underline;
}

#main-subtitle {
  background-color: #21211F;
  color: white;
}

#main-slideshow {
  font-size: 0px;
  width: 980px;
}

#main-subtitle p {
  font-size: 16px;
  padding: 20px;
  margin: 0px;
}

#about {
  background-color: #F1F1F1;
  border: 1px solid #21211F;
  display: inline-block;
  font-size: 0.75em;
  height: 150px;
  margin: 15px 15px 15px 0px;
  padding: 10px;
  width: 490px;
  vertical-align: top;
}

h3 {
  color: #BD241E;
}

h4 {
  color: grey;
}

#news {
  background-color: #F1F1F1;
  border: 1px solid #21211F;
  display: inline-block;
  font-size: 0.75em;
  margin: 15px 0px 15px 15px;
  padding: 0px 10px 10px 10px;
  width: 390px;
  vertical-align: top;
}

#news-title {
  background-color: #BB1515;
  font-size: 1em;
  margin: 0 -10px 0 -10px;
  padding: 4px 0 4px 0;
  color: white;
  top: 0;
}

#news-title p {
  margin: 0 0 0 10px;
}

.news-article {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.date {
  color: black;
  font-size:  .75em;
}

.article-title {
  color: gray;
}

#news a {
  color: #BB1515;
}

.more-news {
  color: #BB1515 ;
  text-align: right;
}

#left-half {
  width: 548px;
  display: inline-block;
}

.product-special img {
  position: absolute;
  z-index: 0;
}

#left-pane {
  border: 1px solid #21211F;
  display: inline-block;
  height: 141px;
  margin: 15px 15px 15px 0px;
  width: 237px;
}

#right-pane {
  border: 1px solid #21211F;
  display: inline-block;
  height: 141px;
  margin: 15px 0px 15px 15px;
  width: 237px;
}

.frosted-pane {
  background-color: white;
  height: 80px;
  margin-top: 70px;
  opacity: 0.7;
  position: relative;
  vertical-align: bottom;
  z-index: 2;
}

.frosted-pane p {
  color: gray;
  font-size: 0.75em;
  padding: 0 0 10px 5px;
}

h5 {
  color: #BB1515;
  font-size: 1em;
  padding: 10px 0px 0px 5px;
}