.container {
  margin: 0 auto;  
  width: 720px;
}

header {
  font-size: 25px;
  font-family: 'Passion One', cursive;
  bottom: -20px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
}

#mini_navigation {
  position: fixed;
  bottom: 0;
  right: 10px;
}

#mini_navigation li a, nav li a {
  text-decoration: none;
  list-style-type: none; 
  font-family: 'Passion One', cursive;
}

#mini_navigation li a{
  color: white;
  left: 1000px;
}

#mini_navigation li {
  display: inline;
  padding: 20px;
}

#mini_navigation {
  position: fixed;
  bottom: -15px;
}

.rectangle {
  background-color: orange;
  position: fixed;
  display: block;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
}

nav li a {
  color: black;
  padding: 0 25px;
  font-size: 20px;
}

nav li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
}

nav {
  position: fixed;
  bottom: 0;
  padding-left: 120px;
}

#mini_moma_text, #search_field {
  color: #a8a8a8;
}

#search_field {
  padding: 5px 20px;
  border: 1px solid gray;
}

.sign-up-button {
  margin: 10px;
  width: 130px;
  height: 20px;
  font-family: arial, sans-serif;
  font-style: bold;
  font-size: 12px;
  background: orange;
  border-radius: 25px;
}

.sign-up-button a{
  text-decoration: none;
  color: white;
  padding-left: 10px;
}









