.container{
	margin: 0em auto;
	width:85%;
}

.wrapper{
	display: inline;
}

 .wrapper .donate{
	border-radius: 5px;
	background-color: #AAFF00;
	padding: 5px;
}

nav{
	float: right;
}

li{
	display: inline;
	font-weight: lighter;

}

.pink{
	color: #FF00BB;
}

.yell{
	color: #FFBF00;
}

.green{
	color: #02B331;
}
.slideshow{

	border: 2px solid #FF00BB;
	border-radius: 3px;
	width: 100%;
	margin-top: 20px;
}

.first li{
	border-radius: 5px;
	background-color: black;
	padding: 5px;
	color: white;
	font-size: 10px;
	margin-right: 10px;

}

.second li{
	position: relative;
	bottom: 70px;
	right: 230px;
	margin-right: 33px;
	font-size: 13px;

}

textarea{
	position: relative;
	top: 80px;
	left: 390px;
	border-radius: 5px;
	border-color: #C9C9C7;
	font-size: 12px;
}

.wrapper p{
	position: relative;
	top:50px;
	left: 170px;
	font-weight: lighter;

}

.underline{
	position:absolute;
	top: 50px;
	left: 120px;
	
}

.social{
	display: inline;
	position: relative;
	bottom: 105px;
	left: 250px;	
}

.social img{
	margin-right: 10px;
}



.firstline{
	display: inline;
}

.photohead{
	display: inline;
	
}

.photohead p{
	font-size: 25px;
	font-weight: lighter;
}

.photohead img{
	margin: 5px;
	padding: 5px;
	border: 1px solid #BDBDBD;
}
